django>=5.0
djangorestframework
django-cors-headers
python-dotenv
psycopg2-binary
djangorestframework-simplejwt
drf-spectacular
Pillow
google-genai
Markdown
weasyprint
redis>=4.0.0
celery>=5.3.0
pytest
pytest-django
model-bakery
gunicorn
tenacity