django>=5.0
djangorestframework
django-cors-headers
python-dotenv
psycopg2-binary
djangorestframework-simplejwt
drf-spectacular
Pillow
google-genai
Markdown
weasyprint
redis
pytest
pytest-django
model-bakery
